{% extends 'base.html' %}

{% block title %}Libros{% endblock title %}

{% block content %}
{% if user.is_authenticated %}
<div class="container mt-3">
    <div class="my-3 row justify-content-center">
        <h2>Lista de libros</h2>
    </div>
    <div class="row">
        {% for libro in libros_list %}
            <div class="col-sm-6 col-md-4 col-lg-3 mb-4">
                <div class="card">
                    <div class="card-body">
                        <a class="text-dark" href="{{ libro.url }}" target="_blank">
                            <!-- Identificador único -->
                            <h5 class="card-title">{{ libro.nombre }} - {{ libro.autor }}</h5>
                        </a>

                        <!-- Características -->
                        <p><span class="font-weight-bold">🡆 Autor:</span> {{ libro.autor }}</p>
                        <p><span class="font-weight-bold">🡆 Editorial:</span> {{ libro.editorial }}</p>
                        <p><span class="font-weight-bold">🡆 Núm. Páginas:</span> {{ libro.nro_paginas }}</p>
                        <p><span class="font-weight-bold">🡆 Precio:</span> $ {{ libro.precio }}</p>
                        <!-- Calificación -->
                        {% for cal in calificaciones_list %}
                            {% if libro == cal.libro and user == cal.usuario %}
                                <p><span class="font-weight-bold">🡆 Calificación:</span> {{ cal.puntaje }} <a href="{% url 'modificar-calificacion' cal.id %}"> <input type="image" width="20" height="20"  name="botonmodificar" src="https://image.flaticon.com/icons/png/512/61/61776.png"></a></p>
                           {% endif %}
                        {% endfor %}

                        <!-- Button trigger modal -->
                        <button 
                            type="button" 
                            class="btn btn-info btn-block" 
                            data-toggle="modal" data-target="#modal{{ libro.id }}"
                            >Ver observaciones
                        </button>
                        <a href="{% url 'crear-calificacion' libro.id %}" class="btn btn-info btn-block" >
                            Calificar
                        </a>
                        <!-- Modal: Observaciones -->
                        <div class="modal fade" id="modal{{ libro.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Observaciones</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <div class="modal-body">
                                    <p>{{ libro.observaciones }}</p>
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endif %}
{% endblock content %}